body {
    font-family: Arial, Helvetica, sans-serif;
  overflow-wrap: normal;
  }
  
  * {
    box-sizing: border-box;
  }
  
  .container {
    padding: 16px;
    background-color: white;
  }
  

   
  hr {
    border: 1px solid #f1f1f1;
    margin-bottom: 25px;
  }
  

  .registerbtn {
    background-color: #04AA6D;
    color: white;
    padding: 16px 20px;
    margin: 8px 0;
    border: none;
    cursor: pointer;
    width: 50%;
    opacity: 0.9;
  }
  
  .registerbtn:hover {
    opacity: 1;
  }
  
 
  a {
    color: dodgerblue;
  }
  
  
  .signin {
    background-color: #f1f1f1;
    text-align: center;
  }
  .hp{
      text-align: center;
  }


  .open-button {
    background-color: hsl(0, 6%, 13%);
    color: white;
    padding: 16px 20px;
    border: none;
    cursor: pointer;
    opacity: 0.8;
    position: fixed;
   margin: 15px;
    width: 280px;
  }
  .form-popup {
    display: none;
    border: 3px solid #f1f1f1;
    z-index: 9;
  }
  .form-container .btn {
    background-color: #04AA6D;
    color: white;
    padding: 16px 20px;
    border: none;
    cursor: pointer;
    width: 100%;
    margin-bottom:10px;
    opacity: 0.8;
  }
  

  .form-container .cancel {
    background-color: red;
  }
  
 
  .form-container .btn:hover, .open-button:hover {
    opacity: 1;
  }
  .btn-cancel{

 background-color: hsl(0, 6%, 13%);
    color: white;
    border: none;
    margin: 10px;
  }
  input[type=text] {
    width: 130px;
    box-sizing: border-box;
    border: 2px solid #ccc;
    border-radius: 4px;
    font-size: 16px;
    background-color: white;
    background-position: 10px 10px; 
    background-repeat: no-repeat;
    padding: 12px 20px 12px 40px;
    -webkit-transition: width 0.4s ease-in-out;
    transition: width 0.4s ease-in-out;
  }
  
  input[type=text]:focus {
    width: 100%;
  }
